<h3>form to edit quote</h3>

<%= form_for [@category, @script] do |f| %>
  <%= f.label :quote %>
  <%= f.text_field :quote %>
  <%= f.label :character %>
  <%= f.text_field :character %>
  <%= f.label :show %>
  <%= f.text_field :show %>
  <%= f.submit %>
<% end %>

<br>

<h3>form to delete quote</h3>

<%= form_for [@category, @script], method: :delete do |f| %>
  <%= f.submit "delete", class: "delete" %>
<% end %>
