<h3>edit quote</h3>

<%= form_for [@category, @script] do |f| %>
  <%= f.label :quote %>
  <%= f.text_field :quote %>
  <%= f.label :character %>
  <%= f.text_field :character %>
  <%= f.label :show %>
  <%= f.text_field :show %>
  <%= f.submit "update"%>
<% end %>

<br>

<%= form_for [@category, @script], class: "form-delete", method: :delete do |f| %>
  <%= f.submit "delete", class: "delete" %>
<% end %>
