<h2>add new quote page</h2>

<%= form_for [@category, @script] do |f| %>
  <%= f.label :quote %>
  <%= f.text_field :quote %>
  <%= f.label :character %>
  <%= f.text_field :character %>
  <%= f.label :show %>
  <%= f.text_field :show %>
  <%= f.submit "add quote" %>
<% end %>

<% @script.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>
