<% if @script.user == current_user %>
<%= link_to "edit or remove quote", edit_category_script_path(@category, @script), :class => "form-link"%>
<% elsif current_user.try(:admin?) %>
<%= link_to "edit or remove quote", edit_category_script_path(@category, @script), :class => "form-link"%>
<% end %>

<div class="quote-show">
  <h2><span class="quotemark">&ldquo;</span><%= @script.quote %><span class="quotemark">&rdquo;</h2>
    <% if @script.users.include? current_user %>
      <div class="star"><%= link_to "&starf;".html_safe, remove_star_category_script_path(@category, @script), method: :delete %></div>
    <% else %>
      <div class="no-star"><%= link_to "&star;".html_safe, add_star_category_script_path(@category, @script), method: :post %></div>
    <% end %>
    <div class="stars-count"><%= @script.stars.count %> stars</div>
  <button type="button" name="button">who said it?</button>
  <p class="hidden center">- <%= @script.character %>,</p>
  <p class="hidden center"><%= @script.show %></p>
</div>
