<!DOCTYPE html>
<html>
  <head>
    <title>Scripts</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
    <!-- <script src="/path/to/infinite-scroll.pkgd.min.js"></script> -->
  </head>

  <body>
    <header>
      <nav>
        <div class="user-info">
          <div class="nav-left">
          <%= link_to "home", root_path %>
          <a href = "/categories/tv">tv</a>
          <a href = "/categories/film">film</a>
          </div>
          <div class="nav-right">
          <% if current_user %>
            <%= link_to 'my stars', stars_path %>
            <%= link_to 'my quotes', users_path %>
            <%= link_to 'Signout', destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= link_to 'Signup', new_user_registration_path %>
            <%= link_to 'Login', new_user_session_path %>
          <% end %>
          </div>
        </div>
        <% flash.each do |type, message| %>
        <p class="flash <%= type %>"><%= message %></p>
        <% end %>
      </nav>
    </header>
        <%= yield %>
    <footer>
    </footer>
  </body>
</html>
